# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
pip-log.txt
pip-delete-this-directory.txt
doc/*.pyc
doc/*.pyo
doc/*.pyd
*.pid
*.swo
*.swp
*.lock
*.mo
*.pot
*.log
*.log.*
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/

# HTML, CSS
*.css.map
*.sass-cache/

# Flask
instance/
.webassets-cache

# IDEs and editors
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
.idea/
*.iml
*.ipr
*.iws
*.dat
*.dat.*
*.tmp
*.tmp.*
*.bak
*.bak.*
*.log
*.log.*
*.swp
*.swo
*.pid
*.rdb
*.pyc
.DS_Store