<!DOCTYPE html>
<html>

<head>
    <title>Chess Analysis</title>
    <script>
        window.onload = function () {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var datetime = year.toString() + month.toString() + day.toString() + hour.toString() + minute.toString();
            document.getElementById('game_name').value = datetime;
        };

        function myFunction() {
            document.getElementById("submit-button").disabled = true;
        };

    </script>
</head>

<body>
    <form method="POST">
        <label for="pgn">Paste PGN here:</label><br>
        <textarea id="pgn" name="pgn" rows="4" cols="50"></textarea><br>
        <label for="player">Player:</label><br>
        <select id="player" name="player">
            <option value="WHITE">WHITE</option>
            <option value="BLACK">BLACK</option>
        </select><br>
        <label for="game_name">Game Name:</label><br>
        <input type="text" id="game_name" name="game_name" value=""><br>
        <input type="submit" value="Analyze" id="submit-button">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>

</html>